@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&family=Playfair+Display:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4.53vw;
  padding: 0 8.69vw 0 7.29vw;
  color: #9767A9;
  background-color: #fff;
}

.header__logo {
  width: 5.78vw;
}

.header__logo img {
  width: 100%;
}

.header__navbar {
  padding: 0 7.18vw 0 8.02vw;
}

.navbar__hamburger {
  display: none;
}

.navbar__menu {
  display: flex;
  gap: 1.56vw;
}

.navbar__link {
  font-size: 0.93vw;
  font-weight: 500;
  cursor: pointer;
}
.navbar__link:nth-child(1) {
  width: 2.91vw;
}
.navbar__link:nth-child(2) {
  width: 10.4vw;
}
.navbar__link:nth-child(3) {
  width: 6.09vw;
  margin-left: -1.5%;
}
.navbar__link:nth-child(4) {
  width: 4.73vw;
}
.navbar__link:nth-child(5) {
  width: 6.4vw;
}
.navbar__link:nth-child(6) {
  width: 4.21vw;
}

.navbar__link:hover {
  font-weight: 800;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.36vw;
  width: 11.09vw;
  height: 2.08vw;
  border: 0.15vw solid #9767A9;
  border-radius: 50px;
  overflow: hidden;
}

.header__search img {
  width: 1.09vw;
}

.header__search input {
  width: 80%;
  height: 2.08vw;
  font-size: 0.93vw;
  font-weight: 300;
  color: #9767A9;
  border: none;
  outline: none;
}

.header__search input::placeholder {
  color: #9767A9;
}

.header__social-media {
  display: flex;
  gap: 0.78vw;
  padding-left: 1.82vw;
}

.header__social-media img {
  width: 2.08vw;
  cursor: pointer;
}

.banner {
  background-image: url('../image/big-hair.png');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  gap: 17.39vw;
  width: 100%;
  height: 41.1vw;
  margin-top: 4.53vw;
  padding-left: 14.47vw;
  color: #fff;
}

.banner__title {
  width: 27.91vw;
  margin-top: 7vw;
  font-size: 5.20vw;
  line-height: 5vw;
}

.banner__subtitle {
  width: 22.8vw;
  margin-top: 7.5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  font-weight: 300;
}

.introduction {
  display: flex;
  gap: 1vw;
  width: 100%;
  height: 19.68vw;
  padding: 1.92vw 7.29vw 0 8.12vw;
  color: #fff;
  background-color: #9767A9;
}

.introduction__title {
  width: 49.47vw;
  font-size: 3.38vw;
}

.introduction__paragraph {
  width: 35.10vw;
  font-size: 1.30vw;
  font-weight: 300;
}

/* Media queries */

@media (max-width: 600px) {
  header {
    height: 11vw;
    justify-content: center;
    padding: 0;
  }

  .header__logo {
    width: 15.73vw;
    margin-left: 27.2vw;
  }

  .navbar__menu {
    position: fixed;
    left: -100%;
    top: 11vw;
    flex-direction: column;
    gap: 0;
    width: 27.73vw;
    height: 48vw;
    padding: 0;
    transition: 0.3s;
    color: #fff;
  }

  .navbar__menu.active {
    left: 0;
  }

  .navbar__link:nth-child(n+1) {
    display: flex;
    align-items: center;
    width: 27.73vw;
    height: 8vw;
    font-size: 3vw;
    font-weight: 300;
    padding-left: 4.22vw;
    background-color: #9767A9;
  }
  .navbar__link:nth-child(2) span {
    display: none;
  }
  .navbar__link:nth-child(3) {
    width: 28.2vw;
  }

  .navbar__link:hover {
    font-weight: bold;
    background-color: #AC95BB;
  }
  

  .navbar__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    display: initial;
    width: 14.93vw;
    height: 11vw;
    padding: 2.5vw 0;
    cursor: pointer;
    background-color: #9767A9;
  }

  .navbar__bar {
    display: block;
    width: 4.81vw;
    height: 2px;
    margin: 1vw 5vw;
    border-radius: 5px;
    background-color: #fff;
  }

  .header__search,
  .header__social-media {
    display: none;
  }

  .banner {
    background-size: cover;
    background-position: 31.8%;
    flex-direction: column;
    align-items: flex-start;
    gap: 4.26vw;
    height: 98.4vw;
    margin-top: 11vw;
    padding: 6.93vw 0 0 9.6vw;
  }

  .banner__title {
    width: 59.46vw;
    margin: 0;
    font-size: 13.33vw;
    line-height: normal;
  }

  .banner__subtitle {
    width: 59.46vw;
    margin: 0;
    font-size: 5.33vw;
  }

  .introduction {
    flex-direction: column;
    gap: 4vw;
    height: 92.26vw;
    padding: 1.92vw 7.29vw 0 8.12vw;
  }
  
  .introduction__title {
    width: 80.53vw;
    font-size: 5.33vw;
  }
  
  .introduction__paragraph {
    display: flex;
    flex-direction: column;
    gap: 5.5vw;
    width: 80.53vw;
    font-size: 3.73vw;
  }
  
}